
#communityBanner{
  width:100%;
  padding-top:10%;
  min-height: 400px;
  position: relative;
  margin-bottom:100px;
  overflow: hidden;
  @media screen and (min-width:1279px) {
      min-height:none;
      padding-top:10%;
  }
  
  @media screen and (max-width:1025px) {
  }
  .inner{
      position: absolute;
      display: flex;
      align-items: center;
      top:0;
      width:100%;
      height:100%;
      transition:all .5s ease-in-out;
      background: no-repeat center/cover fixed url(../images/communityBanner.png);
      @media screen and(max-width:1279px) {
          width:100%;
      }
      .wrap{
      color:#fff;
      text-shadow: 1px 1px 2px #000;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: center;
      background: rgba(0,0,0,0.4);
      padding-left:20%;
      width:100%;
      height:100%;
      p{
          display: inline-block;
          font-size:14px;
          font-weight:100;
          padding-left:2px;
          letter-spacing: 5px;
          margin-bottom: 10px;
      }
      .title{
          span{
              font-size:40px;
              font-weight:100;
              letter-spacing: 5px;
          }
          h1{
              margin-top:-10px;
              padding-left:2px;
              letter-spacing: 3px;
              font-size:40px;
              font-weight: bolder;
              font-family: $hans;
                  span{
                      color:$bred;
                      font-weight: bolder;
                      font-family: $hans;
                  }
          }
      }
      }
  }
  
}


#community01{
  position: relative;
  display: flex;
  width:100%;
  justify-content: center;
  padding: 50px 0px 50px 0px;
  @media screen and(max-width:1025px) {
      overflow: hidden;
  }
  .word{
      right:0;
      width:80%;
      z-index:0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:10px 0px;       
      transition: all .3s ease-in-out;
      @media screen and(max-width:1025px) {
          width:100%;
          text-align: center;
      }
      .wrap{
          position: relative;
          margin:0px auto;
          width:50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .number{
          position: absolute;
          font:900 45px 'Work Sans', sans-serif;
          left:-50px;
          top:-30px;
          padding-right:5px;
          overflow: hidden;
          z-index:1;
          @media screen and(max-width:1025px) {
              position: relative;
              left:0;
              top:0;
              padding:5px;
              .numberCover{
                  display: none;
              }
          }
          .numberCover{
              position: absolute;
              right:-20px;
              transform: rotateZ(45deg);
              top:30px;
              color:transparent;
              z-index:3;
              width:40px;
              height:40px;
              border-left:2px solid #000;
              background-color: #fff;
              z-index:2;    
          }
              
          }
          span{
              font-size: 35px;
              font-weight: 100;
              letter-spacing: 3px;
              margin-bottom:-10px;
              z-index:3;
          }
          h2{
              font:bolder 35px $hans;
              padding-left:2px;
              margin-bottom:10px;
          }
          .p1{
              width:100%;
              margin-bottom:15px;
          @media screen and(max-width:1025px) {
              width:100%;
          }
          }
          .p2{
              width:100%;
              font-weight: 100;
              min-height:100px;
              @media screen and(max-width:1025px) {
                  width:100%;
              }
          }
      }
  }

}


#community02{
  position: relative;
  width:100%;
  padding:10px 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  .inner{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &::before{
      content:'';
      width:80%;
      height:90px;
      border-top: 3px solid #000;
      color:#fff;
      border-radius: 1px;
    }
    .inputWrap{
      max-width: 600px;
      width:60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1px;
      margin-bottom: 50px;
      h3{
        width:100%;
        text-align: left;
        margin-bottom: 35px;
      }
      input{
        width:100%;
        padding:5px;
        margin-bottom: 20px;
        border-bottom: 2px solid #000;
        &:focus{
          outline: none;
        }
      }
      textarea{
        width:100%;
        padding:5px;
        margin-bottom: 40px;
        border-bottom: 2px solid #000;
        &:focus{
          outline: none;
        }
      }
      .btnWrap{
        display: flex;
        justify-content: flex-end;
        width:100%;
        button{
          width:25%;
          padding:5px 8px;
          background-color: #000;
          color:white;
          box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
          &:first-child{
            border-right: 1px solid #fff;
          }
          &:hover{
            background-color: $bred;
          }
        }
      }
    }
    .postsWrap{
      justify-content: center;
      display: grid;
      padding:20px;
      grid-template-columns: repeat(3, minmax(120px, 300px));
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 20px;
      gap: 20px;
      transition: all .3s ease-in-out;
      @media screen and (max-width:719px) {
      grid-template-columns: repeat(2, minmax(120px, 350px));
      }
      article{
      position: relative;
      .postInput{
        position: absolute;
        width:100%;
        max-width: 600px;
        top:0px;
        left:0px;
        background-color: #fff;
        z-index: 999;
          input{
          height:30px;
          width:100%;
          padding:5px;
          margin-bottom: 20px;
          box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
          border-bottom: 1px solid #888;
          border-radius: 1px;
          transition: all .3s ease-in-out;
          &:focus{
            outline: none;
          }
        }
        textarea{
          position: absolute;
          top:30px;
          left:0px;
          width:100%;
          padding:5px;
          min-height: 300px;
          margin-bottom: 40px;
          box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
          background-color: #fff;
          border-radius: 1px;
          border-top: none;
          transition: all .3s ease-in-out;
          &:focus{
            outline: none;
          }
        }
        
        .btns{
          display: flex;
          width:100%;
          justify-content: flex-end;
          position: absolute;
          top:350px;
          left:0px;
          transition: all .3s ease-in-out;
          li{
            text-align: center;
            width:25%;
            padding:5px 8px;
            background-color: #000;
            color:white;
            box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
            cursor: pointer;
            &:first-child{
              border-right: 1px solid #fff;
            }
            &:hover{
              background-color: $bred;
            }
          }
        }
      }
      .postText{
        padding:20px;
        box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
        min-height: 200px;
        position: relative;
        h3{
          font-size: 16px;
          width:100%;
          border-bottom: 2px solid $bred;
        }
        p{
          font-size: 14px;
        }
        .btns{
          display: flex;
          width:100%;
          justify-content: flex-end;
          position: absolute;
          bottom:0px;
          left:0px;
          transition: all .3s ease-in-out;
          li{
            text-align: center;
            width:25%;
            padding:5px 8px;
            cursor: pointer;
            &:first-child{
              border-right: 1px solid #fff;
            }
            &:hover{
              background-color: $bred;
              color:white;
            }
          }
        }
      }
      
    }
    }
  }
}




#community03{
  margin:0px auto 200px auto;
  padding: 10px;
  width:100%;
  display: flex;
  justify-content: center;
  .inner{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align:center;
      width:80%;
      .innerNumber{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom:50px;
          .innerNumberBg{
              position: absolute;
              color:#d0ebff;
              font-size: 35px;
              z-index: -1;
          }
          div{
              position: absolute;
              font-size: 9px;
              width:20px;
              height:20px;
              line-height:20px;
              color:$bred;
              font-weight: 900;
              background-color: #fff;
              z-index: 1;
          }
      }
      h3{
          letter-spacing: 8px;
          font-weight: 100;
          margin-bottom: 80px;
      }

      ul{
        display: flex;
        width:100%;
        align-items: center;
        &::after{
          display: block;
          content: '';
          clear: both;
        }
        li{
          float: left;
          display: block;
          margin:5px;
          padding:5px;
          &:hover{
            outline: $bred 2px solid;
            transition: all .5s ease-in-out;
            p{
              opacity: 1;
              
            transition: all .5s ease-in-out;
            }
          }
          strong{
            display: inline-block;
            text-transform: uppercase;
            font-size:13px;
            margin-bottom: 20px;
          }
          p{
            font-size:12px;
            color:#333;
            opacity: 0;
          }
        }
      }
  }
}