#contactBanner{
    
    width:100%;
    padding-top:10%;
    min-height: 400px;
    position: relative;
    margin-bottom:100px;
    overflow: hidden;
    @media screen and (min-width:1279px) {
        min-height:none;
        padding-top:10%;
    }
    
    @media screen and (max-width:1025px) {
    }
    .inner{
        position: absolute;
        display: flex;
        align-items: center;
        top:0;
        width:100%;
        height:100%;
        transition:all .5s ease-in-out;
        background: no-repeat center/cover fixed url(../images/contactBanner.jpg);
        @media screen and(max-width:1279px) {
            width:100%;
        }
        .wrap{
        color:#fff;
        text-shadow: 1px 1px 2px #000;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        background: rgba(0,0,0,0.4);
        padding-left:20%;
        width:100%;
        height:100%;
        p{
            display: inline-block;
            font-size:14px;
            font-weight:100;
            padding-left:2px;
            letter-spacing: 5px;
            margin-bottom: 10px;
        }
        .title{
            span{
                font-size:40px;
                font-weight:100;
                letter-spacing: 5px;
            }
            h1{
                margin-top:-10px;
                padding-left:2px;
                letter-spacing: 3px;
                font-size:40px;
                font-weight: bolder;
                font-family: $hans;
                    span{
                        color:$bred;
                        font-weight: bolder;
                        font-family: $hans;
                    }
            }
        }
        }
    }
    
}


#contact01{
  position: relative;
  display: flex;
  width:100%;
  justify-content: center; 
  padding: 50px 0px;
  @media screen and(max-width:1025px) {
      overflow: hidden;
  }
  .word{
      right:0;
      width:80%;
      z-index:0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:10px 0px;       
      transition: all .3s ease-in-out;
      @media screen and(max-width:1025px) {
          width:100%;
          text-align: center;
      }
      .wrap{
          position: relative;
          margin:0px auto;
          width:50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .number{
          position: absolute;
          font:900 45px 'Work Sans', sans-serif;
          left:-50px;
          top:-30px;
          padding-right:5px;
          overflow: hidden;
          z-index:1;
          @media screen and(max-width:1025px) {
              position: relative;
              left:0;
              top:0;
              padding:5px;
              color:$bred;
              transition: all .3s ease-in-out;
              &::first-letter{
                  color:#000;
              }
              .numberCover{
                  display: none;
              }
          }
          .numberCover{
              position: absolute;
              right:-20px;
              transform: rotateZ(45deg);
              top:30px;
              color:transparent;
              z-index:3;
              width:40px;
              height:40px;
              border-left:2px solid #000;
              background-color: #fff;
              z-index:2;    
          }
              
          }
          span{
              font-size: 35px;
              font-weight: 100;
              letter-spacing: 3px;
              margin-bottom:-10px;
              z-index:3;
          }
          h2{
              font:bolder 35px $hans;
              padding-left:2px;
              margin-bottom:10px;
          }
          .p1{
              width:100%;
              margin-bottom:15px;
          @media screen and(max-width:1025px) {
              width:100%;
          }
          }
          .p2{
              width:100%;
              font-weight: 100;
              min-height:100px;
              @media screen and(max-width:1025px) {
                  width:100%;
              }
          }
      }
  }

}


#contact02{
    width:100%;
    padding:50px 0px;
    display: flex;
    justify-content: center;
    transition: all .5s ease-in-out;
    @media screen and(max-width:1025px) {
        padding:150px 0px;
    }
    .inner{
        width:80%;
        
        h3{
            letter-spacing: 8px;
            font-weight: 100;
            margin-bottom: 80px;
        }
        .wrap{
            position: relative;
            text-align: center;
            
        .innerNumber{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:50px;
            .innerNumberBg{
                position: absolute;
                color:#d0ebff;
                font-size: 35px;
                z-index: -1;
            }
            div{
                position: absolute;
                font-size: 9px;
                width:20px;
                height:20px;
                line-height:20px;
                color:$bred;
                font-weight: 900;
                background-color: #fff;
                z-index: 1;
            }
        }
            #map{
                width:100%;
                height:400px;
                transition: all .5s ease-in-out;
                border:3px solid black;
                border-bottom: none;
                @media screen and (max-width:1279px){
                    height:350px;
                }
                @media screen and(max-width:767px) {
                    height:250px;
                }
            }
            .btnsBox{
                display: flex;
                width:100%;
                color:#fff;
                .trafficBtn{
                    width:25%;
                    background-color: #000;
                    color:#fff;
                    font-size: 14px;
                    line-height: 3;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background-color: $bred;
                    }
                }
                .branchBtn{
                    display: flex;
                    justify-content: space-evenly;
                    width:75%;
                    background-color: #000;
                    cursor: pointer;
                    line-height:3;
                    font-size: 14px;
                    li{
                        width:33.3%;
                        
                    transition: all .3s ease-in-out;
                    &:hover{
                        background-color: $bred;
                    }
                    }
                }
            }
        }
    }

}

#contact03{
    width:100%;
    padding:100px 0px;
    display: flex;
    justify-content: center;
    .inner{
        width:80%;
        @media screen and (max-width:1025px) {
            width:100%;
        }
        .wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
            text-align: center;
            padding-bottom:100px;
            font:900 45px 'Work Sans', sans-serif;
            border-bottom: 2px solid $bred;
            width:80%;
            }
            form{
                display: flex;
                width:100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 70px 20px;
                @media screen and (max-width:1025px) {
                    padding: 70px 10px;
                }
                .inputWrap{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width:70%;
                    margin-bottom: 10px;
                    @media screen and (max-width:1025px) {
                        width:100%;
                    }
                    label{
                        display: inline-block;
                        font-size: 14px;
                        width:15%;
                        padding: 15px 0px;
                        @media screen and (max-width:1025px) {
                        font-size: 12px;
                        }
                    }
                    input{
                        padding:8px 2px;
                        width:25%;
                        margin-right: 5%;
                        margin-bottom: 3px;
                        min-width: 100px;
                        max-width: 150px;
                        border: none;
                        border-bottom: 2px solid #000;
                        font-family:'Noto Sans KR', sans-serif;
                        &:last-child{
                            margin-right: 0px;
                        }
                        @media screen and (max-width:1025px) {
                        font-size: 12px;
                        padding: 2px 2px;
                    }
                        }
                }
                .message{
                    display: inline-block;
                    margin: 20px auto 40px auto;
                }
                .textBox{
                    width:90%;
                    max-width: 600px;
                    height:200px;
                    border-bottom: 2px solid #000;
                    border-radius: 3px;
                    padding:3px;
                    font-family:'Noto Sans KR', sans-serif;
                }
                .buttonWrap{
                    width: 90%;
                    max-width: 600px;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 18px;
                    button{
                        padding:10px 20px;
                        border:none;
                        background-color: #000;
                        color:white;
                        cursor: pointer;
                        transition: all .2s ease-in-out;
                        &:hover{
                            background-color: $bred;
                        }
                    }
                }
            }
        }
    }
}