
#contact01{
  position: relative;
  display: flex;
  width:100%;
  justify-content: center;
  padding: 150px 0px 100px 0px;
  @media screen and(max-width:1025px) {
      overflow: hidden;
      background-color: black;
  }
  .word{
      right:0;
      width:80%;
      z-index:0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:10px 0px;       
      transition: all .3s ease-in-out;
      @media screen and(max-width:1025px) {
          width:100%;
          text-align: center;
          color:white;
      }
      .wrap{
          position: relative;
          margin:0px auto;
          width:50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .number{
          position: absolute;
          font:900 45px 'Work Sans', sans-serif;
          left:-50px;
          top:-30px;
          padding-right:5px;
          overflow: hidden;
          z-index:1;
          @media screen and(max-width:1025px) {
              position: relative;
              left:0;
              top:0;
              padding:5px;
              color:#d6336c;
              &::first-letter{
                  color:#fff;
              }
              .numberCover{
                  display: none;
              }
          }
          .numberCover{
              position: absolute;
              right:-20px;
              transform: rotateZ(45deg);
              top:30px;
              color:transparent;
              z-index:3;
              width:40px;
              height:40px;
              border-left:2px solid #000;
              background-color: #fff;
              z-index:2;    
          }
              
          }
          span{
              font-size: 35px;
              font-weight: 100;
              letter-spacing: 3px;
              margin-bottom:-10px;
              z-index:3;
          }
          h2{
              font:bolder 35px 'Black Han Sans', sans-serif;
              padding-left:2px;
              margin-bottom:10px;
          }
          .p1{
              width:100%;
              margin-bottom:15px;
          @media screen and(max-width:1025px) {
              width:100%;
          }
          }
          .p2{
              width:100%;
              font-weight: 100;
              min-height:100px;
              @media screen and(max-width:1025px) {
                  width:100%;
              }
          }
      }
  }

}


#contact02{
    width:100%;
    padding:50px 0px;
    display: flex;
    justify-content: center;
    transition: all .5s ease-in-out;
    @media screen and(max-width:1025px) {
        padding:150px 0px;
    }
    .inner{
        width:80%;
        
        h3{
            letter-spacing: 8px;
            font-weight: 100;
            margin-bottom: 80px;
        }
        .wrap{
            position: relative;
            text-align: center;
            
        .innerNumber{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:50px;
            .innerNumberBg{
                position: absolute;
                color:#d0ebff;
                font-size: 35px;
                z-index: -1;
            }
            div{
                position: absolute;
                font-size: 9px;
                width:20px;
                height:20px;
                line-height:20px;
                color:#d6336c;
                font-weight: 900;
                background-color: #fff;
                z-index: 1;
            }
        }
            #map{
                width:100%;
                height:400px;
                background-color: black;
                transition: all .5s ease-in-out;
                border:3px solid black;
                @media screen and (max-width:1279px){
                    height:350px;
                }
                @media screen and(max-width:767px) {
                    height:250px;
                }
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                width:100%;

                button{
                    padding:5px;
                    border:3px solid black;
                    border-top: none;
                    width:50%;
                    background-color: transparent;
                }
            }
        }
    }

}

#contact03{
    width:100%;
    padding:100px 0px;
    display: flex;
    justify-content: center;
    .inner{
        width:80%;
        .wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4{
            text-align: center;
            padding-bottom:100px;
            font:900 45px 'Work Sans', sans-serif;
            border-bottom: 2px solid #d6336c;
            width:80%;
            }
            form{
                display: flex;
                width:100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 50px 20px;
                .inputWrap{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width:400px;
                    margin-bottom: 10px;
                    label{
                        letter-spacing: 8px;
                        font-weight: 100;
                        margin-bottom: 10px;
                        input{
                            padding:8px 0px;
                            margin-top: 10px;
                            border: none;
                            border-bottom: 1px solid #888;
                            font-family:'Noto Sans KR', sans-serif;
                        }
                    }
                }
                .query{
                    margin-top: 18px;
                    width:400px;
                    textarea{
                        width:400px;
                        height:200px;
                        border:none;
                        border-bottom: 1px solid #8888;
                        font-family:'Noto Sans KR', sans-serif;
                    }
                }
                .buttonWrap{
                    width: 400px;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 18px;
                    button{
                        padding:10px 20px;
                        border:none;
                        background-color: #000;
                        color:white;
                        cursor: pointer;
                        transition: all .2s ease-in-out;
                        &:hover{
                            background-color: #d6336c;
                        }
                    }
                }
            }
        }
    }
}