#join{
  padding:100px 0px 150px 0px;
  width:100%;
  .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      h1{
        margin-bottom: 100px;
        width:50%;
        text-align: center;
        font:400 35px $hans;
        position: relative;
        &::after{
          content: '';
          width:6%;
          min-width: 25px;
          height:20px;
          border-bottom: 2px solid #000;
          position: absolute;
          top:50px;
          left:47%;
        }
        span{
          font:400 35px $hans;
          color:$bred;
        }
      }
      .textBox{
        display: flex;
        width:60%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom:50px;
        @media screen and (max-width:1025px) {  
          width:70%;
          font-size: 14px;
          overflow-wrap: break-word;
        }
        strong{
          display: inline-block;
        }
        span{
          margin-bottom:10px;
        }
        p{
          font-weight: 100;
          font-size:13px;
        }
      }

      .info{
        width:60%;
        margin-bottom: 50px;
        h2{
          width:100%;
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 20px;
        }
        div{
          width:100%;
          height:150px;
          overflow:auto;  
          border:2px solid #555;
          padding: 5px;
          p{
            font-size: 15px;
          }
        }
      }

      form{
        width:60%;
        display: flex;
        justify-content: center;
        fieldset{
          width:100%;
          legend{
            width:100%;
            display: inline-block;
            padding-bottom:20px;
            border-bottom: 2px solid #000;
          }
        table{
          display: flex;
          width:100%;
          justify-content: center;
          tbody{
            width:70%;
            transition: all .3s ease-in-out;
            @media screen and(max-width:1025px) {
              width:100%;
            }
            tr{
              width:100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin:20px 0px;
              th{
                width:50%;
                padding-left: 5%;
                text-align: left;
                font-weight: 400;
                @media screen and(max-width:1025px) {
                  width:40%;
                  font-size: 12px;
                  padding-left:0;
                }
              }
              td{
                width:50%;
                text-align: left;
                @media screen and(max-width:1025px) {
                  width:60%;
                  font-size: 12px;
                }
                input{
                  line-height: 2.5;
                  border-bottom: 2px solid #666;
                  width:100%;
                }
                textarea{
                  border-bottom: 2px solid #666;
                  width:100%;
                  min-height: 150px;
                  padding:2px 5px;
                }
                .err{
                  color:red;
                  font-size: 12px;
                }
              }
              .checkBoxes{
                display: flex;
                flex-direction: column;
                label{
                  display: inline-block;
                  width:40%;
                  line-height: 2.5;
                }
                input{
                  border: none;
                  width:60%;
                }
              }
            }
            .btnBox{
              width:100%;
              display: flex;
              justify-content: flex-end;
              padding:10px 0px;
              .btn{
                width:150px;
                height:30px;
                margin-left:10px;
                background-color: #000;
                color:white;
                &:hover{
                  cursor: pointer;
                  background-color: $bred;
                  color:black;
                }
                @media screen and(max-width:1025px) {
                  width:50%;
                  font-size: 12px;
                  &:nth-child(1){
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
        }
      }
    }
}