@charset 'utf-8';

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Noto Sans KR', sans-serif;
}

body{
    padding-top:70px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none
}

ul,ol,li{
    list-style:none;
}

a{
    text-decoration: none;
}

.h{
    position: absolute;
    top:-99999px;
    opacity: 0;
}

table{
    border-collapse: collapse;
    border:none;
    th, td{
        border: none;
    }
}

fieldset{
    border: none;
}

input{
    border:none;
    background-color: transparent;
}

textarea{    
    resize: none;
    border:none;
    background-color: transparent;
}

button{
    font-family:'Noto Sans KR', sans-serif;
    background-color: transparent;
    border: none;
}