

#youtubeBanner{
    width:100%;
    padding-top:10%;
    min-height: 400px;
    position: relative;
    margin-bottom:100px;
    overflow: hidden;
    @media screen and (min-width:1279px) {
        min-height:none;
        padding-top:10%;
    }
    
    @media screen and (max-width:1025px) {
    }
    .inner{
        position: absolute;
        display: flex;
        align-items: center;
        top:0;
        width:100%;
        height:100%;
        transition-duration: 3s;
        transition:all 1s ease-in-out;
        background: no-repeat center/cover fixed url(../images/youtubeBanner.jpg);
        @media screen and(max-width:1279px) {
            width:100%;
        }
        .wrap{
        color:#fff;
        text-shadow: 1px 1px 2px #000;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        background: rgba(0,0,0,0.4);
        padding-left:20%;
        width:100%;
        height:100%;
        p{
            display: inline-block;
            font-size:14px;
            font-weight:100;
            padding-left:2px;
            letter-spacing: 5px;
            margin-bottom: 10px;
        }
        .title{
            span{
                font-size:40px;
                font-weight:100;
                letter-spacing: 5px;
            }
            h1{
                margin-top:-10px;
                padding-left:2px;
                letter-spacing: 3px;
                font-size:40px;
                font-weight: bolder;
                font-family: $hans;
                    span{
                        color:$bred;
                        font-weight: bolder;
                        font-family: $hans;
                    }
            }
        }
        }
    }
}


#youtube01{
    position: relative;
    display: flex;
    width:100%;
    justify-content: center;
    margin-bottom:10px;
    @media screen and(max-width:1025px) {
        overflow: hidden;
    }
    .word{
        right:0;
        width:80%;
        z-index:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px 0px;       
        transition: all .3s ease-in-out;
        @media screen and(max-width:1025px) {
            width:100%;
            text-align: center;
        }
        .wrap{
            position: relative;
            margin:0px auto;
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .number{
            position: absolute;
            font:900 45px 'Work Sans', sans-serif;
            left:-50px;
            top:-30px;
            padding-right:5px;
            overflow: hidden;
            z-index:1;
            @media screen and(max-width:1025px) {
                position: relative;
                left:0;
                top:0;
                padding:5px;
                .numberCover{
                    display: none;
                }
            }
            .numberCover{
                position: absolute;
                right:-20px;
                transform: rotateZ(45deg);
                top:30px;
                color:transparent;
                z-index:3;
                width:40px;
                height:40px;
                border-left:2px solid #000;
                background-color: #fff;
                z-index:2;    
            }
                
            }
            span{
                font-size: 35px;
                font-weight: 100;
                letter-spacing: 3px;
                margin-bottom:-10px;
                z-index:3;
            }
            h2{
                font:bolder 35px $hans;
                padding-left:2px;
                margin-bottom:10px;
            }
            .p1{
                width:100%;
                margin-bottom:15px;
            @media screen and(max-width:1025px) {
                width:100%;
            }
            }
            .p2{
                width:100%;
                font-weight: 100;
                min-height:100px;
                @media screen and(max-width:1025px) {
                    width:100%;
                }
            }
        }
    }

}



#youtube02{
    margin:0px auto 50px auto;
    padding: 50px 0px;
    width:100%;
    display: flex;
    justify-content: center;
    position: relative;
    .inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align:center;
        width:80%;
        .innerNumber{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:50px;
            .innerNumberBg{
                position: absolute;
                color:#d0ebff;
                font-size: 35px;
                z-index: -1;
            }
            div{
                position: absolute;
                font-size: 9px;
                width:20px;
                height:20px;
                line-height:20px;
                color:$bred;
                font-weight: 900;
                background-color: #fff;
                z-index: 1;
            }
        }

        h2{
            letter-spacing: 8px;
            font-weight: 100;
            margin-bottom: 80px;
        }

        .youtubeLists{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding:50px 0px;
            max-width: 900px;
            li{
                border-top: $bred 2px solid;
                display: flex;
                padding:10px 0px;
                margin-bottom:50px;
                position: relative;
                cursor:pointer;
                transition: all .3s ease-in-out;
                &:hover{
                    opacity: 0.8;
                    background-color: #bbb;
                    h3{
                        color:white;
                        transform: translateX(5px);
                    }
                    .youtubeArrow{
                        color:white;
                        transform: translateX(-5px);
                    }
                }
                .youtubeThumbnail{
                    z-index: -1;
                    @media screen and(max-width:1025px) {
                        width:200px;
                    }
                    transition: all .3s ease-in-out;
                    img{
                        @media screen and(max-width:1025px) {
                            width:200px;
                        }
                    }
                }
                .youtubeText
                {
                    text-align: left;
                    padding:0px 10px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    h3{
                        text-transform: uppercase;
                        font-size: 23px;
                        line-height: 1.1;
                        transition: all .5s ease-in-out;
                        padding-right:20px;
                        @media screen and(max-width:1025px) {
                            font-size: 15px;
                        }
                    }
                    div{
                        font-size: 11px;
                        font-weight: 100;
                        padding-bottom:2px;
                        color:#444;
                        @media screen and(max-width:1025px) {
                            font-size: 8px;
                        }
                        span{
                            font-weight: 600;
                        }
                    }
                }
                .youtubeArrow{
                    position: absolute;
                    top:13px;
                    right:5px;
                    color:#444;
                    font-size:20px;
                    transition: all .5s ease-in-out;
                    @media screen and(max-width:1025px) {
                        top:7px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
    #popup{
        position: fixed;
        top:0;
        left:0;
        padding:5px;
        z-index: 999;
        width:100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: rgba(0,0,0,0.9);
        overflow: hidden;
        iframe{
            width:80%;
            z-index: 999;
            min-height:400px;
            margin:0px auto;
            background-color: rgba(0,0,0,0.9);
        }
        .btnClose{
            position: absolute;
            top:10%;
            right:10%;
            color:white;
            font-size: 20px;
            cursor: pointer;
            &:hover{
                color:#888;
                transform: translateY(-1px);
            }
        }
    }
}

.noScroll{
    overflow: hidden;
}