@charset 'utf-8';
@import 'reset';


$bred : #d6336c ;
$hans : 'Black Han Sans', sans-serif;

// Header
@import 'header';

// aisde 

@import 'aside';

// pages
@import 'main';
@import 'members';
@import 'youtube';
@import 'gallery';
@import 'community';
@import 'contact';
@import 'membership';

// footer
@import 'footer';

// component
@import 'loader';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans+KR:wght@100&family=Work+Sans:wght@900&family=Black+Han+Sans&family=Sigmar+One&display=swap');


//